h1 {
    color: red;
    font-style: italic;
}

#main-heading {
    font-size: 48px;
}

strong {
    color: blue;

}

p strong {
    font-size: 24px;
}

.highlights {
    background-color: yellow;
}

.highlights strong {
    background-color: orange;
}
